/*Polices personnalisées*/
@font-face
{
	font-family:'SegoeScript';
	src: url('fonts/SegoeScript.ttf') format('ttf'),
		 url('fonts/SegoeScript.eot') format('eot') ,
		 url('fonts/SegoeScript.woff') format('woff');
}

/*Propriétés générales*/
*
{
	box-sizing: border-box;
}

body
{ 
	margin:0;
	font-family: verdana, arial;
	background-color:white;
	position:relative;
}

main
{
	position:relative;
	min-height:52.7vh;
}

a
{
	text-decoration:none;
	color:white;
}

.button
{
	background-color:#AC8646;
	color:white;
	border:1px solid #333;
	font-size:1em;
	padding:5px;
	position:absolute;
}

.submit
{
	color:white;
	font-size:0.8em;
	border:2px solid #898606;
	text-align:center;
	border-radius:5px;
	padding:3px 7px 3px 7px;
	margin-left:10px;
	background-color: #616811;
	cursor:pointer;
}

.retourAccueil
{
	right:40px;
	top:270px;
}

.retourListeChap
{
	right:40px;
	top:315px;
}

.styleForm
{
	margin: 30px 50px 0px 50px;
}

/*Propriétés des titres*/
h1 /*Titre du bandeau*/
{
	font-family: SegoeScript;
	text-align:center;
	font-size:2.3em;
	position:absolute;
	color:white;
	right:25px;
	left:25px;
	bottom:90px;
}

h2 /*titre des chapitres*/
{
	font-size:1.2em;
	color:#AC8646;
	width:fit-content;
	padding:5px;
	margin:5px;
}

h3
{
	text-align:center;
	font-size:1.2em;
	color:#AC8646;
	font-style:italic;
	margin-top:25px;
}

h4
{
	font-size:1em;
	color:#AC8646;
	font-style:italic;
	position:absolute;
	right:115px;
	bottom:-5%
}

p
{
	font-size: 1em;
	margin:0;
}

/*Propriétés du bandeau*/
header
{
	position:relative;
}

#bandeau
{
	position: relative;
	width:100%;
	padding-top:21.95%;
	background-image: url(Photos/photo8.jpg);
	background-size: cover;
}

#bandeau::after
{
	content:"";
	position: absolute;
	border-bottom: 120px white solid;
	border-left:880px solid transparent;
	width:0;
	height:0;
	right:0;
	bottom:-1px;
}

#photo
{
	width:100%;
}

/*Accueil*/
#logo
{
	display:flex;
	padding:10px;
	margin:auto;
	width:77%;
}

#biographie
{
	position:absolute;
	width:20%;
	border:2px solid #AC8646;
	background-color: white;
	margin-left:25px;
	top:-120px;
	border-radius:30px;
}

#textPresentation
{
	padding:10px;
}

#couverture
{
	position: relative;
	margin-left:29%;
	margin-top:30px;
	display: flex;
	flex-wrap: wrap;
	width:71%;
}

#couv
{
	width:32%;
}

#resumeTxt
{
	width:455px;
	margin-left:10%;
	box-shadow: 3px 3px 10px #AC8646;
	position:relative;
	padding:10px 15px 0px 15px;
}

#biographyTxt
{
	padding:0px 15px 15px 15px;
}

#accesBlog
{
	border:2px solid #AC8646;
	color:#AC8646;
	font-weight:800;
	border-radius:50%;
	text-decoration:none;
	padding:6px;
	position:absolute;
	bottom:6px;
	left:50%;
	width:35px;
	height:35px;
	text-align:center;
}

/*Accueil Admin*/
#editPresentation
{
	left:80px;
	bottom:-12px;
}

#editResume
{
	right:30px;
	bottom:10px;
}

#editBiographyAccueil
{
	right:20px;
	bottom:5px;
}

.submitAccueil
{
	margin-left:85%;
	margin-top:10px;
	cursor:pointer;
}


/*Interface de connexion*/
#formConnexion
{
	position:relative;
}

#connectRetourAccueil
{
	right:35%;
	top:100px;
}

.saisieMdP
{
	border:2px solid transparent;
	box-shadow: 3px 3px 10px #AC8646;
	margin:auto;
	padding:10px;
	margin-top:25px;
	position:relative;
	height:auto;
}

#connectMdP
{
	width:30%;
}

#saisieNewMdP
{
	width:40%;
}

.redirection
{
	width:100%;
	color:#AC8646;
	text-align:center;
	position:absolute;
	font-style: italic;
	font-weight:bold;
}

#redirectionConnect
{
	bottom:355px;
	line-height:25px;
}

#redirectionNewPsw
{
	bottom:295px;
	line-height:25px;
}

#changeMdP
{
	position:absolute;
	font-style:italic;
	font-size:0.8em;
	color:#AC8646;
	bottom:7px;
	right:90px;
}

#erreurMdP
{
	width:200px;
	margin:auto;
	margin-top:50px;
	padding-bottom: 10px;
}

#connexionErreur
{
	padding:5px;
	width:110px;
	margin:auto;
	border:2px solid #333;
	background-color: #AC8646;
	color:white;
}

#connectButton
{
	padding-top:5px;
	padding-bottom:5px;
	position:absolute;
	left:35%;
	top:100px;
}

.submitNewPassword
{
	margin:15px 0px 0px 44%;
}

/*Interface de déconnexion*/
#deconnectAccueil
{
	right:41%;
	top:40%;
}

/*Liste des chapitres*/
.lienChapitre
{
	display:block;
	width:100%;
	height:100%;
	padding:7px;
}

#chapitres
{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	margin:20px;
}

.episodes
{
	width:270px;
	height:460px;
	margin:0px 12px 20px 12px;
	box-shadow: 3px 3px 10px #AC8646;
	overflow:hidden;
	position:relative;
}

.suiteEpisode
{
	color:#AC8646;
	position:absolute;
	bottom:10px;
	right:20px;
	border:2px solid #AC8646;
	padding-right:5px;
	padding-left:5px;
	border-radius:7px;
}

#decoChap::after
{
	content:'';
	border-right:80px solid #F9D8A9;
	border-bottom:70px solid transparent;
	right:0px;
	top:0px;
	width:0;
	height:0;
	position:absolute;
}

#decoTitre
{
	position:relative;
	padding-bottom:5px;
}

#decoTitre::before
{
	content:'*';
	position:absolute;
	top:29px;
	left:47%;
}

#decoTitre::after
{
	content:'';
	bottom: -10px;
	width:100px;
	left:80px;
	position:absolute;
	border-top:1px solid #AC8646;
}

.txtEpisodes
{
	overflow:hidden;
	height:315px;
	position:relative;
	color:black;
	padding:5px 10px 0px 10px;
}

.txtEpisodes::before
{
	content:'';
	position:absolute;
	background-image: linear-gradient(to top,white, white 50%,transparent);
	width:100%;
	height:25px;
	bottom:0;
	left:0;
}

/*Administration liste des chapitres*/
.editButton
{
	color:white;
	font-size:0.8em;
	border:2px solid #898606;
	text-align:center;
	border-radius:5px;
	padding:3px 7px 3px 7px;
	position:absolute;
	background-color: #616811;
}

#editChap
{
	width:90px;
	left:15px;
	bottom:8px;
}

#deleteChap
{
	width:80px;
	left:120px;
	bottom:8px;
}

#newChapter
{
	top:300px;
	right:240px;
}

#adminComments
{
	top:300px;
	right:40px;
}

/*Nouveau Chapitre*/
.submitNewChapter
{
	position:absolute;
	right:50px;
	bottom:110px;
}

#numChapterAdmin
{
	margin-right:70px;
	width:50px;
	height:30px;
}

#titleChapAdmin
{
	width:300px;
	height:30px;
}

/*Chapitre détaillé*/
#numChapitre
{
	margin:20px;
}

#titreChapitre::before
{
	content:'*';
	position:absolute;
	top:88px;
	left:49.1%;
}

#titreChapitre::after
{
	content:'';
	top:96px;
	width:110px;
	left:45.5%;
	position:absolute;
	border-top:1px solid #AC8646;
}

.contenuChapitre
{
	padding:20px 50px 20px 50px;
}

/*Modification d'un chapitre*/
#updateChapitre
{
	position:relative;
}

#modifAccueil
{
	right:420px;
}

#modifListChap
{
	left:420px;
}

#submitUpdate
{
	left:30px;
	bottom:-40px;
}

.submitUpdateChapter
{
	position:absolute;
	right:50px;
	bottom:-35px;
}

/*Suppression d'un chapitre*/
.deleteConfirm
{
	text-align:center;
}

.deleteConfirmChap
{
	margin-left:41%;
}

.deleteListChap
{
	left:420px;
	top:400px;
}

.deleteAccueil
{
	right:420px;
	top:400px;
}

/*Confirmation de la suppression d'un chapitre*/
.deleteChapAccueil
{
	right:420px;
}

.deleteChapRetourList
{
	left:420px;
}

/*Commentaires*/
.commentaires
{
	position:relative;
	margin:80px 50px 0px 50px;
}

.dispoComment
{
	display:flex;
}

.commentAuthor
{
	font-weight:bold;
}

.commentDate
{
	color:#555;
	padding-left: 5px;
	padding-right:20px;
}

.commentAffiche
{
	padding:5px 0px 20px 0px;
}

.signalComment
{
	color:white;
	font-size:0.8em;
	border:2px solid #777;
	text-align:center;
	border-radius:5px;
	padding:3px 7px 3px 7px;
	background-color: #999;
	height: 26px;
	margin-left:25px;
}

#signalButton
{
	cursor:pointer;
}

#deleteComment
{
	margin-left:15px;
}

#labelComment
{
	margin-top:15px;
}

#validComment
{
	right:0px;
	bottom:-40px;
}

/*Administration des commentaires*/
#commentLienChap
{
	width:180px;
	color:#AC8646;
}

#commentsList
{
	border:1px solid #444;
	margin:5px 50px 30px 50px;
	position:relative;
}

#deleteCommentList
{
	position: absolute;
	top:3px;
	right:5px;
}

#alertComment
{
	position:absolute;
	top:3px;
	right:100px;
}

/*Mentions Légales*/
#h2MentionsLegales
{
	margin:auto;
	font-size:1.4em;
	padding:30px 0px 30px 0px;
}

.h3MentionsLegales
{
	font-size:1em;
	text-align:left;
	padding:0px 30px 0px 30px;
	margin:0;
}

.mentionsLegales
{
	padding:5px 30px 30px 30px;
}

/*Propriétés de TinyMCE*/
.tox
{
	width:100%;
	margin:auto;
	margin-top:10px;
}

.largeTxtAdmin + .tox-tinymce
{
	height:800px !important;
}

.smallTxtAdmin + .tox-tinymce
{
	height:300px !important;
}

/*Propriétés du pied de page*/
footer
{
	display:flex;
	bottom:0px;
}

footer::after
{
	content:"";
	border-bottom: 125px #AC8646 solid;
	border-right:650px solid transparent;
	width:0;
	height:0;
	left:0;
	bottom:0px;
}

.contacts
{
	z-index:1;
}

.mail
{
	position:absolute;
	color:white;
	left:15px;
	width:300px;
}

#mailContact
{
	bottom:20px;
}

#mentionsLegales
{
	bottom:50px;
}

.mail a
{
	text-decoration: none;
	color:white;
}

#connexion
{
	right:75px;
	bottom:15px;
}

#accueilAlaska
{
	right:40px;
	bottom:15px;
}

#connexion a,
#connexionErreur a,
.retourAccueil a
{
	text-decoration:none;
	color:white;
}

/*Responsive*/
@media(max-width:1280px){/*grand ecran*/
	#bandeau::after
	{
		border-bottom:95px white solid;
		border-left:770px solid transparent;
	}

	h1
	{
		bottom:70px;
	}

	.retourListeChap
	{
		top:260px;
	}

	.retourAccueil
	{
		top:217px;
	}

	/*Liste des chapitres*/
	#newChapter
	{
		top:250px;
	}

	#adminComments
	{
		top:250px;
	}
}

@media(max-width:1025px){/*IPadPro*/
	main
	{
		min-height:71vh;
	}
	h1
	{
		bottom:50px;
	}

	h3
	{
		margin-top:35px;
	}
	h4
	{
		bottom:-24px;
		right:95px;
	}
	#changeMdP
	{
		bottom:-2px;
		right:64px;
	}
	#bandeau::after
	{
		border-bottom:75px white solid;
		border-left:580px solid transparent;
	}

	.retourAccueil
	{
		top:175px;
	}
	.retourListeChap
	{
		top:215px;
	}

	/*Page d'accueil*/
	#biographie
	{
		top:-104px;
	}
	#couverture
	{
		justify-content: center;
		margin-top:50px;
		margin-left:;
	}
	#resumeTxt
	{
		width:670px;
		margin-left:0;
		padding:10px 15px 55px 15px;
		margin-top:50px;
	}

	/*Admin Accueil*/
	.submitAccueil
	{
		margin-left:80%;
	}

	footer::after
	{
		border-right: 565px solid transparent;
	}

	/*Liste des chapitres*/
	#newChapter
	{
		top:200px;
		right:220px;
	}

	#adminComments
	{
		top:200px;
		right:20px;
	}

	/*interface de connexion*/
	#connectMdP
	{
		width:50%;
	}

	#connectRetourAccueil
	{
		right:27%;
	}

	#connectButton
	{
		left:30%;
	}
}

@media(max-width:800px){/*IPad*/
	*
	{
		box-sizing: content-box; ;
	}
	main
	{
		min-height:68vh;
	}
	#bandeau::after
	{
		border-bottom:55px white solid;
		border-left:460px solid transparent;
	}
	h1
	{
		bottom:32px;
	}

	.retourAccueil
	{
		top:150px;
		right:20px;
	}

	.retourListeChap
	{
		top:150px;
		right:95px;
	}
	#accesBlog
	{
		width:20px;
		height:20px;
		left:45%;
	}

	/*Admin Accueil*/
	.submitAccueil
	{
		margin-left:70%;
	}

	footer::after
	{
		border-right: 400px solid transparent;
	}

	#mentionsLegales
	{
		bottom:40px;
	}

	#mailContact
	{
		bottom:10px;
	}

	/*Liste des chapitres*/
	#newChapter
	{
		top:165px;
	}

	#adminComments
	{
		top:165px;
	}

	#chapitres
	{
		margin-top:50px;
	}

	.txtEpisodes::before
	{
		height:50px;
	}

	#editChap
	{
		width:75px;
	}
	#deleteChap
	{
		width:75px;
	}
}

@media(max-width:500px){/*IPhoneX*/
	#bandeau::after
	{
		border-bottom:30px white solid;
		border-left:230px solid transparent;
	}
	h1
	{
		font-size:1em;
		bottom:20px;
	}

	h3
	{
		margin-top:20px;
	}
	h4
	{
		position:relative;
		bottom:0;
		right:0;
		text-align:center;
	}

	.styleForm
	{
		margin:20px 20px 0px 20px;
	}
	#changeMdP
	{
		bottom:0;
		right:0;
		margin-right:10%;
	}
	.retourAccueil
	{
		top:95px;
		right:290px;
	}

	.retourListeChap
	{
		top:95px;
		right:20px;
	}
	.smallTxtAdmin + .tox-tinymce
	{
		height:400px !important;
	}
	#logo
	{
		width:20%;
	}
	#biographie
	{
		width:350px;
		margin:auto;
		position: relative;
		top:0;
		margin-top:40px;
	}

	#couverture
	{
		margin-left:0;
		width:auto;
	}

	#couv
	{
		width:auto;
	}

	#resumeTxt
	{
		margin:50px 25px 30px 25px;
	}

	.submitAccueil
	{
		margin-left:40%;
	}
	footer::after
	{
		border-right: 255px solid transparent;
		border-bottom:80px #AC8648 solid;
	}

	#connexion
	{
		right:15px;
		bottom:10px;
	}
	.button
	{
		font-size:0.8em;
	}

	#mentionsLegales
	{
		bottom:25px;
		left:4px;
	}
	#mailContact
	{
		bottom:4px;
		left:4px;
	}
	.mail
	{
		left:8px;
		bottom:5px;
		font-size:0.8em;
	}

	/*Liste des chapitres*/
	#newChapter
	{
		top:94px;
	}

	#adminComments
	{
		top:94px;
	}
	.txtEpisodes::before
	{
		height:50px;
	}

	#editChap
	{
		width:75px;
	}
	#deleteChap
	{
		width:75px;
	}

	/*interface de connexion*/
	#connectButton
	{
		left:40%;
		top:145px;
	}

	#connectRetourAccueil
	{
		left:27%;
		top:182px;
		width:175px;
	}

	/*mentions légales*/
	#h2MentionsLegales
	{
		padding:60px 0px 30px 0px;
	}
}

@media(max-width:350px){
	#bandeau::after
	{
		border-bottom:25px white solid;
		border-left:180px solid transparent;
	}
	h1
	{
		bottom:15px;
	}

	h3
	{
		margin-top:20px;
	}

	.retourAccueil
	{
		top:90px;
		right:240px;
	}

	.retourListeChap
	{
		top:90px;
		right:20px;
	}
	#changeMdP
	{
		margin-right:5%;
	}
	#biographie
	{
		width:300px;
	}
	#editResume
	{
		right:10px;
	}
	#connexion
	{
		bottom:25px;
	}

	.submitAccueil
	{
		margin-left:35%;
	}

	/*Liste des chapitres*/
	#newChapter
	{
		right:0;
		top:75px;
		width:95%;
	}

	#adminComments
	{
		top:105px;
		right:0;
		width:95%;
	}

	#chapitres
	{
		margin-top:70px;
	}

	#editChap
	{
		left:8px;
	}

	#deleteChap
	{
		left:106px;
	}

	/*interface de connexion*/
	#connectMdP
	{
		width:60%;
	}

}